Adafruit-ADS1x15==1.0.2
Adafruit-Blinka==8.16.1
adafruit-circuitpython-ads1x15==2.2.21
adafruit-circuitpython-busdevice==5.2.3
adafruit-circuitpython-requests==1.13.0
adafruit-circuitpython-typing==1.9.0
Adafruit-GPIO==1.0.3
Adafruit-PlatformDetect==3.42.0
Adafruit-PureIO==1.1.10
attrs==22.2.0
cattrs==22.2.0
contourpy==1.0.7
cycler==0.11.0
exceptiongroup==1.1.1
fonttools==4.39.2
kiwisolver==1.4.4
lsprotocol==2023.0.0a1
matplotlib==3.7.1
numpy==1.24.2
packaging==23.0
Pillow==9.4.0
pydantic==1.10.7
pyftdi==0.54.0
pygls==1.0.1
pyparsing==3.0.9
pyserial==3.5
python-dateutil==2.8.2
pyusb==1.2.1
ruff==0.0.259
ruff-lsp==0.0.23
six==1.16.0
spidev==3.6
typeguard==2.13.3
typing_extensions==4.5.0
websockets==10.4
